/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

img {
  display: block; }

a {
  text-decoration: none;
  color: #000; }

body {
  line-height: 1;
  background: #fff;
  font-size: 1rem;
  text-align: left;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'; }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.justify-content-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.align-items-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.text-center {
  text-align: center; }

.d-block {
  display: block; }

.mx-auto {
  margin: 0 auto; }

.font-weight-bold {
  font-weight: bold; }

.d-inline-block {
  display: inline-block; }

.mb31 {
  margin-bottom: 31px; }

.mb48 {
  margin-bottom: 48px; }

.mr24 {
  margin-right: 24px; }

.mb56 {
  margin-bottom: 56px; }

.header {
  background-image: url("../img/header-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 960px;
  border: 1px solid #707070;
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #ffffff;
  letter-spacing: 0px; }
  .header-title span, .header-content {
    font-size: 24px;
    line-height: 42px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: bold; }
  .header-title {
    font-size: 80px;
    line-height: 94px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    margin-bottom: 27px; }
    .header-title span {
      margin-bottom: -11px;
      display: block; }
  .header-content {
    margin-bottom: 63px; }
  .header-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .header-list-item {
      margin-right: 16px; }

.about {
  padding: 55px 0 56px;
  text-align: center; }
  .about-title {
    margin-bottom: 39px;
    font-size: 64px;
    line-height: 75px;
    font-family: 'Roboto', sans-serif;
    font-style: italic; }
  .about-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: bold; }
    .about-content img {
      margin-bottom: 24px; }
    .about-content-list, .about-content-list-name, .about-content-list-birthday, .about-content-list-txt {
      font-size: 24px;
      line-height: 42px;
      font-family: 'Roboto', sans-serif;
      font-style: italic; }
      .about-content-list-name, .about-content-list-birthday, .about-content-list-name-name, .about-content-list-name-birthday, .about-content-list-birthday-name, .about-content-list-birthday-birthday, .about-content-list-txt-name, .about-content-list-txt-birthday {
        margin-bottom: 4px; }
      .about-content-list-txt, .about-content-list-name-txt, .about-content-list-birthday-txt, .about-content-list-txt-txt {
        margin-bottom: 31px;
        line-height: 36px; }
    .about-content-line {
      border: 1px solid #000;
      width: 384px; }
  .about-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-weight: bold; }
    .about-list-item {
      margin-left: 26px;
      font-size: 24px;
      line-height: 42px;
      font-family: 'Roboto', sans-serif;
      font-style: italic; }
      .about-list-item-ball {
        position: relative; }
        .about-list-item-ball::before {
          content: '';
          width: 22px;
          height: 22px;
          border-radius: 50%;
          background: #891818;
          position: absolute;
          top: 3px;
          left: -36px; }

.idea {
  padding: 56px 0 160px;
  background: #000;
  color: #fff; }
  .idea-title {
    margin-bottom: 12px;
    font-size: 64px;
    line-height: 75px;
    font-family: 'Roboto', sans-serif;
    font-style: italic; }
  .idea-txt {
    font-size: 20px;
    line-height: 42px;
    font-family: 'Roboto', sans-serif;
    font-style: italic; }
  .idea-string {
    margin-bottom: 31px;
    font-size: 24px;
    line-height: 42px;
    font-family: 'Roboto', sans-serif;
    font-style: italic; }
  .idea-firstPart {
    margin-bottom: 40px; }
  .idea-secondPart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .idea-secondPart img {
      width: 588px;
      height: 416px; }

.work-title {
  margin-top: 64px;
  margin-bottom: 24px;
  font-size: 64px;
  line-height: 75px;
  font-family: 'Roboto', sans-serif;
  font-style: italic; }

.work-string {
  margin-bottom: 128px;
  font-size: 20px;
  line-height: 42px;
  font-family: 'Roboto', sans-serif;
  font-style: italic; }

.work-list {
  color: #fff;
  height: 1558px;
  background-image: url("../img/work-bg.png");
  background-position: center;
  background-repeat: no-repeat; }
  .work-list-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .work-list-item span {
      font-size: 20px;
      line-height: 42px;
      font-family: 'Roboto', sans-serif;
      font-style: italic;
      display: block; }
    .work-list-item-firstPart {
      margin-top: -80px; }
      .work-list-item-firstPart-img {
        width: 384px;
        height: 528px;
        margin-bottom: 16px; }
    .work-list-item-secondPart-img {
      width: 588px;
      height: 424px;
      margin-bottom: 16px; }
    .work-list-item-thirdPart-img {
      width: 384px;
      height: 280px;
      margin-bottom: 16px; }

.footer {
  padding: 56px 0 64px;
  background: #000;
  color: #fff; }
  .footer-txt {
    margin-bottom: 16px;
    font-size: 64px;
    line-height: 75px;
    font-family: 'Roboto', sans-serif;
    font-style: italic; }
  .footer-string {
    margin-bottom: 16px; }
  .footer-address {
    font-size: 24px;
    line-height: 36px;
    font-family: 'Roboto', sans-serif;
    font-style: italic; }
    .footer-address a {
      color: #fff;
      font-size: 24px;
      line-height: 36px;
      font-family: 'Roboto', sans-serif;
      font-style: italic; }
      .footer-address a:hover {
        border-bottom: 1px solid #fff; }
