$danger: #891818; //洪
$secondary: #707070; //灰
@mixin font($sz, $lh) {
  font-size: $sz;
  line-height: $lh;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
}
.mb31 {
  margin-bottom: 31px;
}
.mb48 {
  margin-bottom: 48px;
}
.mr24 {
  margin-right: 24px;
}
.mb56 {
  margin-bottom: 56px;
}
// 內容

.header {
  background-image: url('../img/header-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  height: 960px;
  border: 1px solid $secondary;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  letter-spacing: 0px;
  &-title span,
  &-content {
    @include font(24px, 42px);
    font-weight: bold;
  }
  &-title {
    @include font(80px, 94px);
    span {
      margin-bottom: -11px;
      display: block;
    }
    margin-bottom: 27px;
  }
  &-content {
    margin-bottom: 63px;
  }
  &-list {
    display: flex;
    &-item {
      margin-right: 16px;
    }
  }
}
.about {
  padding: 55px 0 56px;
  text-align: center;
  &-title {
    margin-bottom: 39px;
    @include font(64px, 75px);
  }
  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    img {
      margin-bottom: 24px;
    }
    &-list,
    &-list-name,
    &-list-birthday,
    &-list-txt {
      @include font(24px, 42px);
      &-name,
      &-birthday {
        margin-bottom: 4px;
      }
      &-txt {
        margin-bottom: 31px;
        line-height: 36px;
      }
    }

    &-line {
      border: 1px solid #000;
      width: 384px;
    }
  }
  &-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-weight: bold;
    &-item {
      margin-left: 26px;
      @include font(24px, 42px);
      &-ball {
        position: relative;
        &::before {
          content: '';
          @include ball(22px, $danger);
          position: absolute;
          top: 3px;
          left: -36px;
        }
      }
    }
  }
}
.idea {
  padding: 56px 0 160px;
  background: #000;
  color: #fff;
  &-title {
    margin-bottom: 12px;
    @include font(64px, 75px);
  }
  &-txt {
    @include font(20px, 42px);
  }
  &-string {
    margin-bottom: 31px;
    @include font(24px, 42px);
  }
  &-firstPart {
    margin-bottom: 40px;
  }
  &-secondPart {
    display: flex;
    justify-content: center;
    img {
      width: 588px;
      height: 416px;
    }
  }
}
.work {
  &-title {
    margin-top: 64px;
    margin-bottom: 24px;
    @include font(64px, 75px);
  }
  &-string {
    margin-bottom: 128px;
    @include font(20px, 42px);
  }
  &-list {
    color: #fff;
    height: 1558px;
    background-image: url('../img/work-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    &-item {
      display: flex;
      justify-content: center;
      span {
        @include font(20px, 42px);
        display: block;
      }
      &-firstPart {
        margin-top: -80px;
        &-img {
          width: 384px;
          height: 528px;
          margin-bottom: 16px;
        }
      }
      &-secondPart {
        &-img {
          width: 588px;
          height: 424px;
          margin-bottom: 16px;
        }
      }
      &-thirdPart {
        &-img {
          width: 384px;
          height: 280px;
          margin-bottom: 16px;
        }
      }
    }
    // &-item {
    //   margin-bottom: 140px;
    //   display: flex;
    //   justify-content: center;
    //   &-firstPart {
    //     &-img {
    //       width: 384px;
    //       height: 528px;
    //     }
    //   }
    //   &-secondPart {
    //     &-img {
    //       width: 588px;
    //       height: 424px;
    //     }
    //   }
    //   &-thirdPart {
    //     &-img {
    //       width: 384px;
    //       height: 280px;
    //     }
    //   }
    // }
  }
}
.footer {
  padding: 56px 0 64px;
  background: #000;
  color: #fff;
  &-txt {
    margin-bottom: 16px;
    @include font(64px, 75px);
  }
  &-string {
    margin-bottom: 16px;
  }
  &-address {
    @include font(24px, 36px);
    a {
      color: #fff;
      @include font(24px, 36px);
      &:hover {
        border-bottom: 1px solid #fff;
      }
    }
  }
}
